/*Generales*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 25px;
    color: #A09FB1;
    font-weight: 600;
}
/*Utilidades*/
.button {
    padding: 7px;
    border: none;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.bg-gray {
    background-color: #6E707A;
}

.pointer {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

/*Contenedor principal*/
.contenedor-principal {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

/*Sección Clima*/

.seccion-clima {
    background-color: #1E213A;
    background-repeat: no-repeat;
    grid-column: 1 / 5;
    padding: 20px;
}

.contenido-seccion-clima {
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.busqueda-ciudades {
    display: flex;
    justify-content: space-between;
}

.busqueda-ciudades i {
    align-self: center;
    font-size: 25px;
}

.clima-principal {
    margin-top: 80px;
}

.clima-principal img {
    height: 170px;
}

.clima-principal h1 {
    margin-top: 50px;
}

.clima-principal h3 {
    margin-top: 80px;
}

.clima-principal div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.clima-principal div > p {
    margin-top: 10px;
}

.clima-principal div > p {
    font-size: 15px;
    color: #88869D;
}

/*Seccion estadísticas*/

.seccion-stats {
    background-color: #100E1D;
    grid-column: 5 / 13;
    padding: 30px;
}

.seccion-stats > div {
    width: 80%;
    margin: 0px auto;
}

.grades {
    display: flex;
    justify-content: flex-end;
}

.grades > div {
    font-size: 13px;
    background-color: #585676;
    padding: 8px;
    border-radius: 50%;
    font-weight: 700;
    cursor: pointer;
}

.grades > div:first-child {
    margin-right: 25px;
    color: #110E3C;
    background-color: #E7E7EB;
}

.week {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    column-gap: 2%;

}

.card-day {
    background-color: #1E213A;
    text-align: center;
    padding: 10px;
}

.card-day > div:first-child > p {
    font-size: 15px;
}

.img-day {
    height: 50px;
}

.grades-day {
    margin: 15px 10px 0px 10px;
}

.grades-day p {
    font-size: 15px;
    font-weight: 500;
    color: #A09FB1;
    text-align: center;
}

.stats-today {
    margin-top: 40px;
}

.stats-today h3{
    color: white;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 40px;
    gap: 30px;
}

.stat {
    text-align: center;
    padding: 20px 10px;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.copy {
    text-align: center;
    margin-top: 50px;
}

/*Formulario lateral desplegable*/
.form-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    position: absolute;
}

.form-search {
    background-color: #1E213A;
    width: 100%;
    grid-column: 1 / 5;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px gray;
    padding-top: 30px;
    display: none;
}

.search-and-close {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 80%;
    align-items: center;
}

.search-and-close i {
    cursor: pointer;
}

.cont-form {
    width: 80%;
    margin: 30px auto;
}

.cont-form > * {
    width: 100%;
    margin: 5px auto;
    height: 30px;
    border: none;
}

.cont-form > input[type=text],
.cont-form > select {
    background-color: #1E213A;
    border-bottom: 1px solid gray;
    color: #A09FB1;
}

.cont-form > input[type=text]::placeholder {
    color: #A09FB1;
}

.cont-form > select {
    cursor: pointer;
}

.cont-form > input[type=text]:focus,
.cont-form > select:focus {
    outline: 0;
}

.cont-form > input[type=submit] {
    background-color: #110E3C;
    color: white;
    cursor: pointer;
}

/*responsive*/

@media (max-width: 1084px) {    
    .img-day {
        height: 40px;
    }
    
    .grades-day p {
        font-size: 10px;
    }
}


@media (max-width: 933px) {    
    .form-search {
        grid-column: 1 / 13;
    }
    
    .seccion-clima {
        grid-column: 1 / 13;
    }

    .seccion-stats {
        grid-column: 1 / 13;
    }
}

@media (max-width: 594px) {
    .week {
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
}


@media (max-width: 349px) {
    .clima-principal img {
        height: 120px;
    }
}